.btn-primary {
  color: #999999;
  border: 1px solid #999999;
  padding: 15px 25px;
  border-radius: 50px;
  font-weight: lighter;
  display: inline-block;
}

.btn-primary:hover {
  background-color: #999999;
  color: #EBEBEB;
}
